.listOther {
    margin-left: 5%;
}

.labelOtherBlog {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}